<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="mindlist">

<th:block th:replace="~{/midea/mindlist :: setContent(~{this::content} )}">

    <th:block th:fragment="setContent(content)">

        <a id="mindlist" aria-hidden="true" style="visibility:hidden;"></a>
        <section id="z2PmizORQytGD6bn"
                 style="position:relative;overflow:hidden;display:grid;align-items:center;grid-template-columns:auto 100rem auto;z-index:0;margin-top:-1px;">
            <div id="KeVvvYAXHkRpvlNm"
                 style="grid-area:1 / 1 / 2 / 4;display:grid;position:absolute;min-height:100%;min-width:100%;">
                <div id="mFfni68ttJu1vQr9" style="z-index:0;">
                    <div id="zQ6BaNO0YeDi4MwX"
                         style="box-sizing:border-box;width:100%;height:100%;transform:rotate(0deg);">
                        <div id="Wa9WRGTW2eM1h4Hk" style="width:100%;height:100%;opacity:1.0;">
                            <div id="OLOGUxg4PsFdcevC"
                                 style="background-color:#000000;opacity:1.0;transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="K9I9dVtXfCDT0oWw" style="display:grid;position:relative;grid-area:1 / 2 / 2 / 3;">
                <div id="KWB8zpph4IY3HK1W" style="z-index:1;">
                    <div id="cMwO8nEyS2vsbsLY" style="padding-top:68.66098622%;">
                        <div id="g6EoI72mpg7cvoCv"
                             style="position:absolute;top:0px;left:0px;width:100%;height:100%;">
                            <div class="animation_container" style="width:100%;height:100%;">
                                <div class="animated"
                                     style="width:100%;height:100%;animation:tectonic-LEFT-1edf979c-f7c8-411e-b146-394f65481e3c 3240ms 100ms both paused, linear_fade 400ms linear both paused;">
                                    <div id="CYTGbgWP59Qk0Qkb" style="width:100%;height:100%;opacity:1.0;">
                                        <div id="rzelIg5hPprjpPmm"
                                             style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                                            <div id="I1oQMlcX2tjU90vK"
                                                 style="width:calc(100% * max(1, var(&#45;&#45;scale-fill, 1)));height:calc(145.64311628% / min(1, var(&#45;&#45;scale-fill, 1)));position:absolute;top:50%;left:50%;opacity:1.0;animation:pulse 1.5s ease-in-out infinite;">
                                                <img th:src="@{/assets/images/intro.jpg}" loading="lazy"
                                                     th:attr="srcset=@{/assets/images/64e4995346c631ef810a830c5d5fccaf.jpg} + ' 410w, ' + @{/assets/images/intro.jpg} + ' 820w'"
                                                     sizes="(max-width: 375px) 44.09152666vw, (min-width: 375.05px) and (max-width: 480px) 44.09152666vw, (min-width: 480.05px) and (max-width: 768px) 44.09152666vw, (min-width: 768.05px) and (max-width: 1024px) 44.09152666vw, (min-width: 1024.05px) 44.09152666vw"
                                                     style="width:100%;height:100%;display:block;object-fit:cover;object-position:50% 50%;transform:translate(-50%, -50%) rotate(0deg);">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="SbHaOYl8sDCNx8W3" style="z-index:2;">
                    <div id="eU7u8hr8IqGPISf0" style="box-sizing:border-box;width:100%;height:100%;">
                        <div class="animation_container" style="width:100%;height:100%;">
                            <div class="animated"
                                 style="width:100%;height:100%;animation:tectonic-LEFT-6280a235-050e-430e-8ce6-66a3a2453689 3240ms 100ms both paused, linear_fade 400ms linear both paused;">
                                <div id="R55Ph7agsh0G1KLI"
                                     style="opacity:1.0;display:flex;box-sizing:border-box;flex-direction:column;justify-content:flex-start;width:100%;height:100%;">
                                    <p id="DlKm3gOQ7DHQw6wT"
                                       style="color:#ffffff;font-family:YAFdJsZqKzQ-0;line-height:0.98529557em;text-transform:uppercase;">
                                        <span id="Ym8ffyrBhY8dGFCk" style="color:#ffffff;">Get to</span></p>
                                    <p id="nnQEcuOY9EX6rAQU"
                                       style="color:#ffffff;font-family:YAFdJsZqKzQ-0;line-height:0.98529557em;text-transform:uppercase;letter-spacing:0em;">
                                        <span id="ZhwEHHkC8tPCmFCE" style="color:#ffffff;">know ​BANDAED</span><br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="eqejfOHclVo58s4O" style="z-index:3;">
                    <div id="Cl2UsW6RiUPiBRFH" style="box-sizing:border-box;width:100%;height:100%;">
                        <div class="animation_container" style="width:100%;height:100%;">
                            <div class="animated"
                                 style="width:100%;height:100%;animation:tectonic-RIGHT-2af90f8d-efc2-4bad-b842-ed9f3a0448ff 3240ms 100ms both paused, linear_fade 400ms linear both paused;">
                                <div id="EUM8u5SocW1mWJGl"
                                     style="opacity:1.0;display:flex;box-sizing:border-box;flex-direction:column;justify-content:flex-start;width:100%;height:100%;">
                                    <p id="vhE8I4ggh8ZrUiTB"
                                       style="color:#ffffff;font-family:YAFdJVKCSFM-0;line-height:1.16666667em;text-align:justify;">
                                        <span id="C6sxaexs3U2jc2pA" style="color:#ffffff;">BANDAED </span></p>
                                    <p id="TrGl8xP99fYuTyqv"
                                       style="color:#ffffff;font-family:YAFdJVKCSFM-0;line-height:1.16666667em;text-align:justify;">
                                        <span id="t40rr5IlSnsc2UEs" style="color:#ffffff;">(밴드(BAND)와 </span></p>
                                    <p id="t8gekQqfbPmXmJWN"
                                       style="color:#ffffff;font-family:YAFdJVKCSFM-0;line-height:1.16666667em;text-align:justify;">
                                        <span id="nF8aFIyoPNG9uk7o" style="color:#ffffff;">자동심장충격기(AED) 결합. </span>
                                    </p>
                                    <p id="AuU8QdvTopPSRTZV"
                                       style="color:#ffffff;font-family:YAFdJVKCSFM-0;line-height:1.16666667em;text-align:justify;">
                                    <span id="bBcGHqFcAQtiauYE"
                                          style="color:#ffffff;">&#x27;심장을 뛰게하는 밴드음악&#x27; 이라는 뜻.</span></p>
                                    <p id="vB7sumNe6SdUfZho"
                                       style="color:#ffffff;font-family:YAFdJVKCSFM-0;line-height:1.16666667em;text-align:justify;white-space:pre;">
                                        <br></p>
                                    <p id="E15XTlgWMytki09W"
                                       style="color:#ffffff;font-family:YAFdJVKCSFM-0;line-height:1.16666667em;text-align:justify;">
                                            <span id="wjZoHv6xf461k9sf"
                                                  style="color:#ffffff;">그리고 Ban(금지하다) Dead(죽음); </span>
                                    </p>
                                    <p id="GtAY099iXHXT28IY"
                                       style="color:#ffffff;font-family:YAFdJVKCSFM-0;line-height:1.16666667em;text-align:justify;">
                                        <span id="N6345aj5KACKKD7i" style="color:#ffffff;">이라는 단어의 결합이기도 하여, </span>
                                    </p>
                                    <p id="qkrwivrnj0lks0i0"
                                       style="color:#ffffff;font-family:YAFdJVKCSFM-0;line-height:1.16666667em;text-align:justify;">
                                            <span id="d4NsWr919yDLEYfu"
                                                  style="color:#ffffff;">&#x27;당신의 죽음을 금한다, </span></p>
                                    <p id="EGrKxB1LscruXwyH"
                                       style="color:#ffffff;font-family:YAFdJVKCSFM-0;line-height:1.16666667em;text-align:justify;">
                                        <span id="aU2wW4R5KtEZSCMt" style="color:#ffffff;">당신을 살아있게 한다.&#x27;</span><span
                                            id="YSfBKi7q4EbKzEcy" style="color:#ffffff;">  </span></p>
                                    <p id="oPtj00qiwATNMuc7"
                                       style="color:#ffffff;font-family:YAFdJVKCSFM-0;line-height:1.16666667em;text-align:justify;text-transform:none;letter-spacing:0em;">
                                        <span id="jmeRaiWqpBDuc9SO" style="color:#ffffff;">이라는 의미로 지었음.</span><br>
                                    </p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

</th:block>
</th:block>
</html>