<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <style>
        /* Variables */
/* Mixins */
/* Elements */
 html {
	 box-sizing: border-box;
}
 *, *::before, *::after {
	 box-sizing: inherit;
}
 body {
	 color: #f0f4ff;
	 font: normal 1.25rem / 125% "acumin-pro", sans-serif;
	 margin: 0;
	 text-rendering: optimizeLegibility;
}
 input {
	 background: none;
	 border: none;
	 border-radius: 0.25rem;
	 color: #f0f4ff;
	 outline: none;
}
/* Root grid */
 .grid {
	 display: grid;
	 grid-template-columns: 5rem 20rem 1fr 20rem;
	 height: 100vh;
}
/* Nav */
 .nav {
	 background: #202224;
}
 .nav__container {
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 padding: 1rem 0;
}
 .nav__server {
	 background: #36383e;
	 border-radius: 50%;
	 min-height: 3rem;
	 min-width: 3rem;
	 display: flex;
	 align-items: center;
	 color: #f0f4ff;
	 position: relative;
}
 .nav__server:before, .nav__server:after {
	 position: absolute;
	 opacity: 0;
	 z-index: -1;
}
 .nav__server:hover:before, .nav__server:hover:after {
	 opacity: 1;
	 z-index: 1;
}
 .nav__server:before {
	 left: calc(100% + 0.25rem);
	 border-top: 0.25rem solid transparent;
	 border-bottom: 0.25rem solid transparent;
	 border-right: 0.25rem solid #7288da;
	 content: "";
}
 .nav__server:after {
	 left: calc(100% + 0.5rem);
	 background-color: #7288da;
	 border-radius: 0.25rem;
	 content: attr(data-tooltip);
	 padding: 0.25rem 0.5rem;
	 white-space: nowrap;
}
 .nav__server:hover {
	 background: #7288da;
	 border-radius: 33%;
}
 .nav__server:not(:last-child) {
	 margin-bottom: 1rem;
}
/* Header */
 .header {
	 background: #2e3036;
}
 .header__server:hover {
	 background: #282a2e;
}
 .header__channel {
	 color: rgba(240, 244, 255, 0.5);
	 padding: 1rem;
}
 .header__profile {
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
	 background: #282a2e;
	 padding: 0 1rem;
}
 .channel__item {
	 margin-bottom: 2rem;
}
 .channel__item > div {
	 margin-bottom: 1rem;
}
 .channel__title {
	 border-radius: 0.25rem;
	 min-height: 3rem;
	 min-width: 3rem;
	 display: flex;
	 align-items: center;
	 padding-left: 1.25rem;
	 width: 100%;
}
 .channel__title:hover {
	 background: rgba(240, 244, 255, 0.05);
	 color: #f0f4ff;
}
 .profile__badge {
	 display: flex;
	 align-items: center;
}
 .profile__avatar, .friend__avatar {
	 background: #36383e;
	 border-radius: 50%;
	 min-height: 3rem;
	 min-width: 3rem;
	 margin-right: 1rem;
	 position: relative;
}
 .avatar__status {
	 background: #44b682;
	 border-radius: 50%;
	 min-height: 1rem;
	 min-width: 1rem;
	 content: "";
	 position: absolute;
	 bottom: 0;
	 right: 0;
}
 .user__id {
	 color: rgba(240, 244, 255, 0.25);
}
 .profile__settings {
	 display: flex;
	 align-items: center;
}
 .profile__setting {
	 background: #36383e;
	 border-radius: 50%;
	 min-height: 1rem;
	 min-width: 1rem;
}
 .profile__setting:not(:last-child) {
	 margin-right: 1rem;
}
/* Main */
 .main {
	 background: #36383e;
}
.main__chat {
    height: calc(100vh - 10rem);
    overflow-y: scroll;
    padding: 1rem;
}
 .main__post {
	 display: flex;
	 align-items: flex-start;
	 position: relative;
}
 .main__post:not(:last-child) {
	 margin-bottom: 2rem;
}
 .main__input {
	 padding: 1rem;
}
 .post__avatar {
	 background: #7288da;
	 border-radius: 50%;
	 min-height: 3rem;
	 min-width: 3rem;
	 margin-right: 1rem;
}
 .post__name {
	 display: inline;
}
 .post__name:hover {
	 text-decoration: underline;
}
 .post__timestamp {
	 color: rgba(240, 244, 255, 0.25);
	 display: inline;
	 font-size: 0.75rem;
}
 .post__message {
	 color: rgba(240, 244, 255, 0.75);
	 word-break: break-word;
}
 .input__container {
	 display: flex;
	 align-items: center;
	 background: #42444c;
	 height: 100%;
	 padding: 0 1rem;
}
 .input__message {
	 font: normal 1.25rem / 100% "acumin-pro", sans-serif;
	 width: 100%;
}
/* Footer */
 .footer {
	 background: #2e3036;
}
 .footer__container {
	 display: grid;
	 grid-template-rows: 5rem 1fr;
}
 .footer__settings {
	 background: #36383e;
}
 .footer__friends {
	 padding: 1rem;
}
 .footer .avatar__status {
	 min-height: 0.75rem;
	 min-width: 0.75rem;
}
 .footer .user__name {
	 color: rgba(240, 244, 255, 0.75);
}
 .footer__settings {
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
	 padding: 0 1rem;
}
 .settings__group {
	 display: flex;
	 flex-direction: row;
}
 .group__setting {
	 background: #4e5159;
	 border-radius: 50%;
	 min-height: 1rem;
	 min-width: 1rem;
}
 .group__setting:not(:last-child) {
	 margin-right: 1rem;
}
 .settings__search {
	 position: relative;
}
 .search__input {
	 background: #4e5159;
	 border-radius: 0.25rem;
	 font: normal 1rem / 100% "acumin-pro", sans-serif;
	 height: 2rem;
	 padding: 0 0.5rem;
}
 .friend {
	 display: flex;
	 align-items: center;
}
 .friend:not(:last-child) {
	 margin-bottom: 1rem;
}
 .friend__category {
	 color: rgba(240, 244, 255, 0.25);
	 margin-bottom: 1rem;
}
 .friend__avatar {
	 background: rgba(255, 255, 255, 0.1);
	 border-radius: 50%;
	 min-height: 2rem;
	 min-width: 2rem;
	 margin-right: 1rem;
}
 .footer__friends .user__name:hover {
	 color: #f0f4ff;
}
/* Repeats */
 .header__container, .main__container {
	 display: grid;
	 grid-template-rows: 5rem 1fr 5rem;
	 height: 100%;
}
 .header__server, .main__channel {
	 padding: 0 1rem;
}
 .header__server, .main__channel, .footer__title {
	 display: flex;
	 align-items: center;
	 border-bottom: 0.025rem solid #202224;
}

    </style>
    <link rel="stylesheet" href="https://use.typekit.net/rou7uxf.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.6/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <!-- Vue.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <!-- Axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
<th:block th:replace="~{/layout/wooxtravel :: setContent(~{this::content} )}">

    <!--    <th:block th:fragment="content">

            &lt;!&ndash; ***** Main Banner Area Start ***** &ndash;&gt;
            <div class="about-main-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="content">
                                <div class="blur-bg"></div>
                                <h4>EXPLORE OUR COUNTRY</h4>
                                <div class="line-dec"></div>
                                <h2>Welcome To Caribbean</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    uttersi labore et dolore magna aliqua is ipsum suspendisse ultrices gravida</p>
                                <div class="main-button">
                                    <a th:href="@{/midea/mindlistAdmin}">Discover More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            &lt;!&ndash; ***** Main Banner Area End ***** &ndash;&gt;



            <div class="weekly-offers">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <div class="section-heading text-center">
                                <h2>Best Weekly Offers In Each City</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="owl-weekly-offers owl-carousel">
                                <div class="item">
                                    <div class="thumb">
                                        <img th:src="@{/wooxtravel/assets/images/offers-01.jpg}" alt="">
                                        <div class="text">
                                            <h4>Havana<br><span><i class="fa fa-users"></i> 234 Check Ins</span></h4>
                                            <h6>$420<br><span>/person</span></h6>
                                            <div class="line-dec"></div>
                                            <ul>
                                                <li>Deal Includes:</li>
                                                <li><i class="fa fa-taxi"></i> 5 Days Trip > Hotel Included</li>
                                                <li><i class="fa fa-plane"></i> Airplane Bill Included</li>
                                                <li><i class="fa fa-building"></i> Daily Places Visit</li>
                                            </ul>
                                            <div class="main-button">
                                                <a th:href="@{../midea/reservation}">Make a Reservation</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="thumb">
                                        <img th:src="@{/wooxtravel/assets/images/offers-02.jpg}" alt="">
                                        <div class="text">
                                            <h4>Kingston<br><span><i class="fa fa-users"></i> 234 Check Ins</span></h4>
                                            <h6>$420<br><span>/person</span></h6>
                                            <div class="line-dec"></div>
                                            <ul>
                                                <li>Deal Includes:</li>
                                                <li><i class="fa fa-taxi"></i> 5 Days Trip > Hotel Included</li>
                                                <li><i class="fa fa-plane"></i> Airplane Bill Included</li>
                                                <li><i class="fa fa-building"></i> Daily Places Visit</li>
                                            </ul>
                                            <div class="main-button">
                                                <a th:href="@{../midea/reservation}">Make a Reservation</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="thumb">
                                        <img th:src="@{/wooxtravel/assets/images/offers-03.jpg}" alt="">
                                        <div class="text">
                                            <h4>George Town<br><span><i class="fa fa-users"></i> 234 Check Ins</span></h4>
                                            <h6>$420<br><span>/person</span></h6>
                                            <div class="line-dec"></div>
                                            <ul>
                                                <li>Deal Includes:</li>
                                                <li><i class="fa fa-taxi"></i> 5 Days Trip > Hotel Included</li>
                                                <li><i class="fa fa-plane"></i> Airplane Bill Included</li>
                                                <li><i class="fa fa-building"></i> Daily Places Visit</li>
                                            </ul>
                                            <div class="main-button">
                                                <a th:href="@{../midea/reservation}">Make a Reservation</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="thumb">
                                        <img th:src="@{/wooxtravel/assets/images/offers-01.jpg}" alt="">
                                        <div class="text">
                                            <h4>Havana<br><span><i class="fa fa-users"></i> 234 Check Ins</span></h4>
                                            <h6>$420<br><span>/person</span></h6>
                                            <div class="line-dec"></div>
                                            <ul>
                                                <li>Deal Includes:</li>
                                                <li><i class="fa fa-taxi"></i> 5 Days Trip > Hotel Included</li>
                                                <li><i class="fa fa-plane"></i> Airplane Bill Included</li>
                                                <li><i class="fa fa-building"></i> Daily Places Visit</li>
                                            </ul>
                                            <div class="main-button">
                                                <a th:href="@{../midea/reservation}">Make a Reservation</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="thumb">
                                        <img th:src="@{/wooxtravel/assets/images/offers-02.jpg}" alt="">
                                        <div class="text">
                                            <h4>Kingston<br><span><i class="fa fa-users"></i> 234 Check Ins</span></h4>
                                            <h6>$420<br><span>/person</span></h6>
                                            <div class="line-dec"></div>
                                            <ul>
                                                <li>Deal Includes:</li>
                                                <li><i class="fa fa-taxi"></i> 5 Days Trip > Hotel Included</li>
                                                <li><i class="fa fa-plane"></i> Airplane Bill Included</li>
                                                <li><i class="fa fa-building"></i> Daily Places Visit</li>
                                            </ul>
                                            <div class="main-button">
                                                <a th:href="@{../midea/reservation}">Make a Reservation</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="thumb">
                                        <img th:src="@{/wooxtravel/assets/images/offers-03.jpg}" alt="">
                                        <div class="text">
                                            <h4>George Town<br><span><i class="fa fa-users"></i> 234 Check Ins</span></h4>
                                            <h6>$420<br><span>/person</span></h6>
                                            <div class="line-dec"></div>
                                            <ul>
                                                <li>Deal Includes:</li>
                                                <li><i class="fa fa-taxi"></i> 5 Days Trip > Hotel Included</li>
                                                <li><i class="fa fa-plane"></i> Airplane Bill Included</li>
                                                <li><i class="fa fa-building"></i> Daily Places Visit</li>
                                            </ul>
                                            <div class="main-button">
                                                <a th:href="@{../midea/reservation.html}">Make a Reservation</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            &lt;!&ndash;========================================== ↓ 채팅창 ======================================================&ndash;&gt;

            &lt;!&ndash;<div class="grid">
                <div class="nav">
                    <div class="nav__container">
                        <div class="nav__server" data-tooltip="Server"></div>
                        <div class="nav__server" data-tooltip="Server"></div>
                        <div class="nav__server" data-tooltip="Server"></div>
                        <div class="nav__server" data-tooltip="Server"></div>
                        <div class="nav__server" data-tooltip="Server"></div>
                    </div>
                </div>
                <div class="header">
                    <div class="header__container">
                        <div class="header__server">
                            <div class="server__title">Server</div>
                        </div>
                        <div class="header__channel">
                            <div class="channel__item">
                                <div class="channel__group">Text channels</div>
                                <div class="channel__title">General</div>
                                <div class="channel__title">Games</div>
                                <div class="channel__title">Away</div>
                            </div>
                            <div class="channel__item">
                                <div class="channel__group">Voice channels</div>
                                <div class="channel__title">General</div>
                                <div class="channel__title">Games</div>
                                <div class="channel__title">Away</div>
                            </div>
                        </div>
                        <div class="header__profile">
                            <div class="profile__badge">
                                <div class="profile__avatar">
                                    <div class="avatar__status"></div>
                                </div>
                                <div class="profile__user">
                                    <div class="user__name">Username</div>
                                    <div class="user__id">1234</div>
                                </div>
                            </div>
                            <div class="profile__settings">
                                <div class="profile__setting"></div>
                                <div class="profile__setting"></div>
                                <div class="profile__setting"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main">
                    <div class="main__container">
                        <div class="main__channel">
                            <div class="header__title">General</div>
                        </div>
                        <div class="main__chat" ref="chat">
                            <div class="main__post" v-for="post in posts">
                                <div class="post__avatar"></div>
                                <div class="post__content">
                                    <div class="post__name">Username</div>
                                    <div class="post__timestamp">Timestamp</div>
                                    <div class="post__message">{{ post }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="main__input">
                            <div class="input__container"><input class="input__message" type="text" placeholder="Enter message" v-model="post" @keyup.enter="createPost" /></div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="footer__container">
                        <div class="footer__settings">
                            <div class="settings__group">
                                <div class="group__setting"></div>
                                <div class="group__setting"></div>
                                <div class="group__setting"></div>
                            </div><input class="search__input" type="text" /></div>
                        <div class="footer__friends">
                            <div class="friend__category">Online</div>
                            <div class="friend">
                                <div class="friend__avatar">
                                    <div class="avatar__status"></div>
                                </div>
                                <div class="friend__user">
                                    <div class="user__name">Username</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>&ndash;&gt;

    &lt;!&ndash;        <div class="more-about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 align-self-center">
                            <div class="left-image">
                                <img th:src="@{/wooxtravel/assets/images/about-left-image.jpg}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="section-heading">
                                <h2>Discover More About Our Country</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore.</p>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="info-item">
                                        <h4>150.640 +</h4>
                                        <span>Total Guests Yearly</span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="info-item">
                                        <h4>175.000+</h4>
                                        <span>Amazing Accomoditations</span>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="info-item">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <h4>12.560+</h4>
                                                <span>Amazing Places</span>
                                            </div>
                                            <div class="col-lg-6">
                                                <h4>240.580+</h4>
                                                <span>Different Check-ins Yearly</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore.</p>
                            <div class="main-button">
                                <a th:href="@{../midea/reservation.html}">Discover More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>&ndash;&gt;

            <div class="best-locations">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <div class="section-heading text-center">
                                <h2>Best Locations In Caribbeans</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore.</p>
                            </div>
                        </div>
                        <div class="col-lg-8 offset-lg-2">
                            <div class="options">
                                <div class="option active"
                                     style="&#45;&#45;optionBackground:url(/wooxtravel/assets/images/best-01.jpg);">
                                    <div class="shadow"></div>
                                    <div class="label">
                                        <div class="icon">
                                            <i class="fas fa-expand"></i>
                                        </div>
                                        <div class="info">
                                            <div class="main">Havana</div>
                                            <div class="sub">Population: 2M</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="option"
                                     style="&#45;&#45;optionBackground:url(/wooxtravel/assets/images/best-02.jpg);">
                                    <div class="shadow"></div>
                                    <div class="label">
                                        <div class="icon">
                                            <i class="fas fa-expand"></i>
                                        </div>
                                        <div class="info">
                                            <div class="main">Kingston</div>
                                            <div class="sub">Population: 3.5M</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="option"
                                     style="&#45;&#45;optionBackground:url(/wooxtravel/assets/images/best-03.jpg);">
                                    <div class="shadow"></div>
                                    <div class="label">
                                        <div class="icon">
                                            <i class="fas fa-expand"></i>
                                        </div>
                                        <div class="info">
                                            <div class="main">London</div>
                                            <div class="sub">Population: 4.1M</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="option"
                                     style="&#45;&#45;optionBackground:url(/wooxtravel/assets/images/best-04.jpg);">
                                    <div class="shadow"></div>
                                    <div class="label">
                                        <div class="icon">
                                            <i class="fas fa-expand"></i>
                                        </div>
                                        <div class="info">
                                            <div class="main">Pristina</div>
                                            <div class="sub">Population: 520K</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="option"
                                     style="&#45;&#45;optionBackground:url(/wooxtravel/assets/images/best-05.jpg);">
                                    <div class="shadow"></div>
                                    <div class="label">
                                        <div class="icon">
                                            <i class="fas fa-expand"></i>
                                        </div>
                                        <div class="info">
                                            <div class="main">Paris</div>
                                            <div class="sub">Population: 3M</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="main-button text-center">
                                <a th:href="@{/deals.html}">Discover All Places</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="call-to-action">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <h2>Are You Looking To Travel ?</h2>
                            <h4>Make A Reservation By Clicking The Button</h4>
                        </div>
                        <div class="col-lg-4">
                            <div class="border-button">
                                <a th:href="@{/wooxtravel/reservation}">Book Yours Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            &lt;!&ndash; Scripts &ndash;&gt;
            <script>
                $(".option").click(function(){
                  $(".option").removeClass("active");
                  $(this).addClass("active");
                });
            </script>

            <script th:src="@{/wooxtravel/vendor/jquery/jquery.min.js}"></script>

        </th:block>-->
    <th:block th:fragment="content">
        <br>
        <br>
        <br>
        <div class="grid">
            <div class="nav">
                <div class="nav__container">
                    <div class="nav__server" data-tooltip="Music Styles" @click="activeCategory = 'styles'"></div>
                    <div class="nav__server" data-tooltip="Music Artists" @click="activeCategory = 'artists'"></div>
                    <div class="nav__server" data-tooltip="Instruments" @click="activeCategory = 'instruments'"></div>
                </div>
            </div>
            <div class="header">
                <div class="header__container">
                    <div class="header__server">
                        <div class="server__title" style="color: white; font-size: 25px;"
                             v-text="selectedTitle || 'Community'"></div>
                    </div>
                    <div class="header__channel">
                        <div class="channel__item" v-if="activeCategory === 'styles'">
                            <div class="channel__title" @click="loadSubcategoryPosts('MinimalTechno')">#Minimal Techno</div>
                            <div class="channel__title" @click="loadSubcategoryPosts('MinimalHouse')">#Minimal House</div>
                            <div class="channel__title" @click="loadSubcategoryPosts('MinimalClassical')">#Minimal Classical</div>
                        </div>
                        <div class="channel__item" v-if="activeCategory === 'artists'">
                            <div class="channel__title" @click="loadSubcategoryPosts('SteveReich')">#Steve Reich</div>
                            <div class="channel__title" @click="loadSubcategoryPosts('PhilipGlass')">#Philip Glass</div>
                            <div class="channel__title" @click="loadSubcategoryPosts('TerryRiley')">#Terry Riley</div>
                        </div>
                        <div class="channel__item" v-if="activeCategory === 'instruments'">
                            <div class="channel__title" @click="loadSubcategoryPosts('Synthesizer')">#Synthesizer</div>
                            <div class="channel__title" @click="loadSubcategoryPosts('Piano')">#Piano</div>
                            <div class="channel__title" @click="loadSubcategoryPosts('Percussion')">#Percussion</div>
                        </div>
                    </div>
                    <div class="header__profile">
                        <div class="profile__badge">
                            <div class="profile__avatar">
                                <img th:src="${profileImage}" class="profile__avatar rounded-circle" width="1" height="5" alt="Profile Picture">
                                <div class="avatar__status"></div>
                            </div>
                            <div class="profile__user">
                                <div class="user__name" style="color: white;">[[${username}]]</div>
                                <div class="user__id">1234</div>
                            </div>
                        </div>
                        <div class="profile__settings">
                            <div class="profile__setting"></div>
                            <div class="profile__setting"></div>
                            <div class="profile__setting"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="main__container">
                    <div class="main__channel">
                        <div class="header__title" style="color: white; font-size: 20px;">Welcome Community</div>
                    </div>
                    <div class="main__chat" ref="chat">
                        <div class="main__post" v-for="(post, index) in posts" :key="post.id">
                            <div class="post__avatar"></div>
                            <div class="post__content">
                                <div class="post__name" style="color:#33FFFF; font-weight: bold; font-size: 15px">{{ post.composer }}</div>
                                <div class="post__timestamp">{{ post.timestamp }}</div>
                                <div class="post__message">{{ post.content }}</div>
                                <div class="post__actions" style="display: inline-block; min-height: -0.5cm;">
                                    <button @click="editPost(index)" style="border-radius: 20px; font-size: 10px; background-color: #E5FEFE;">수정</button>
                                    <button @click="deletePost(index)" style="border-radius: 20px; font-size: 10px; background-color: #00CCCC;">삭제</button>
                                    <button @click="toggleLike(post.id, index)" style="background: none; border: none;">
                                        <span :style="{color: isLiked[index] ? 'red' : 'white'}">❤</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main__input">
                        <div class="input__container">
                            <input class="input__message" type="text" placeholder="Enter message" v-model="post" @keyup.enter="createPost"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="footer__container">
                    <div class="footer__settings">
                        <div class="settings__group">
                            <div class="group__setting"></div>
                            <div class="group__setting"></div>
                            <div class="group__setting"></div>
                        </div>
                        <input class="search__input" type="text"/>
                    </div>
                    <div class="footer__friends">
                        <div class="friend__category">Online</div>
                        <div class="friend">
                            <div class="friend__avatar">
                                <div class="avatar__status"></div>
                            </div>
                            <div class="friend__user">
                                <div class="user__name">[[${username}]]</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            new Vue({
                el: ".grid",
                data() {
                    return {
                        userId: '[[${userId}]]',
                        activeCategory: null,
                        selectedTitle: null,
                        post: "",
                        posts: [],
                        isLiked: [],
                        userRole: '[[${userRole}]]',
                        username: '[[${username}]]',
                        selectedCategory: null
                    };
                },
                updated() {
                    this.$nextTick(() => {
                        let chat = this.$refs.chat;
                        chat.scrollTop = chat.scrollHeight;
                    });
                },
                methods: {
                    loadSubcategoryPosts(subcategory) {
                        axios.get(`/midea/community/subcategory/${subcategory}`)
                            .then(response => {
                                this.posts = response.data;
                                this.selectedCategory = subcategory;
                                this.isLiked = new Array(this.posts.length).fill(false);  // 좋아요 상태 초기화
                                this.posts.forEach((post, index) => {
                                axios.get(`/midea/community/like-status/${post.id}`)
                            .then(likeResponse => {
                                this.$set(this.isLiked, index, likeResponse.data);
                            })
                            .catch(error => {
                                console.error("Failed to load like status:", error.response ? error.response.data : error.message);
                            });
                    });
                })
                            .catch(error => {
                                console.error("Failed to load posts:", error.response ? error.response.data : error.message);
                            });
                    },
                    selectTitle(title) {
                        this.selectedTitle = title;
                        this.selectedCategory = title.replace('#', '').trim();

                        // 선택된 Subcategory에 해당하는 게시글을 불러옴
                        this.loadSubcategoryPosts(this.selectedCategory);
                    },
                    createPost() {
                        if (!this.selectedCategory) {
                            alert('메시지를 입력하기 전에 카테고리를 선택해주세요.');
                            return;
                        }

                        if (this.userRole !== 'MEMBER' && this.userRole !== 'ADMIN') {
                            alert('MIDEA 회원용 커뮤니티입니다. 로그인 해주세요.');
                            window.location.href = '/midea/login';
                            return;
                        }

                        let messageContent = this.post && this.post.trim();
                        if (!messageContent) {
                            return false;
                        }

                        let timestamp = new Date().toLocaleString();

                        let postObject = {
                            composer: this.username,  // 이 부분을 수정 (username이 아닌 composer)
                            timestamp: timestamp,
                            content: messageContent,  // content로 메시지 내용을 설정
                            subcategory: this.selectedCategory.replace(' ', '')
                        };

                        const payload = {
                            userId: this.userId,
                            composer: this.username,
                            content: messageContent,
                            subcategory: this.selectedCategory
                        };

                        axios.post('/midea/community', payload, {
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                        .then(response => {
                            postObject.id = response.data;  // 서버에서 반환된 ID를 postObject에 설정
                            this.posts.push(postObject);  // 화면에 실시간으로 게시물을 추가
                            this.isLiked.push(false);  // 새 게시물의 좋아요 상태를 초기화
                            this.post = "";  // 입력 필드를 초기화
                            this.$nextTick(() => {
                                let chat = this.$refs.chat;
                                chat.scrollTop = chat.scrollHeight;  // 스크롤을 맨 아래로 이동
                            });
                            console.log("Message sent to server with ID:", response.data);
                        })
                        .catch(error => {
                            console.error("Failed to send message:", error.response ? error.response.data : error.message);
                        });
                    },
                    editPost(index) {
                        let newPost = prompt("수정할 내용을 입력하세요:", this.posts[index].message);
                        if (newPost !== null) {
                            this.posts[index].message = newPost.trim();
                        }
                    },
                    deletePost(index) {
                        if (confirm("이 게시글을 삭제하시겠습니까?")) {
                            this.posts.splice(index, 1);
                            this.isLiked.splice(index, 1);
                        }
                    },
                    toggleLike(postId, index) {
                        console.log("Post ID:", postId);  // 여기에 로그를 추가하여 postId가 무엇인지 확인
                        console.log("Post Object:", this.posts[index]); // Post 객체 로그 추가

                        if (!postId) {
                            console.error("Post ID is null or undefined!");
                            return;
                        }
                        const isCurrentlyLiked = this.isLiked[index];

                        // 현재 좋아요 상태를 반전
                        this.$set(this.isLiked, index, !isCurrentlyLiked);

                        // 좋아요 상태에 따라 서버로 요청을 보냅니다
                        const payload = {
                            userId: this.userId,
                            postId: postId,  // 여기서 postId가 제대로 전달되는지 확인
                        };

                        axios.post('/midea/community/like', payload, {
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                        .then(response => {
                            console.log("좋아요 상태가 변경되었습니다:", response.data);
                        })
                        .catch(error => {
                            console.error("좋아요 상태 변경 실패:", error.response ? error.response.data : error.message);
                            // 실패 시 원래 상태로 롤백
                            this.$set(this.isLiked, index, isCurrentlyLiked);
                        });
                    }
                }
            });
        </script>
</th:block>
</th:block>
</body>
</html>