<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <style>
        .logo {
            position: absolute;
            top: 20px;
            left: 20px;
        }
        .logo img {
            width: 100px;
            height: auto;
        }
        .logo img:hover {
            filter: brightness(0.8);
        }
        .logo a {
            color: var(--mint);
        }
    </style>
</head>

<body>
<a th:href="@{/midea/index}" class="logo">
    <img th:src="@{/wooxtravel/assets/images/MIDEA.png}" alt="">
</a>
<div class="container" th:classappend="${formType} == 'signup' ? ' right-panel-active' : ''">
    <!-- Sign Up 폼 -->
    <div class="container__form container--signup">
        <form th:action="@{/midea/signup}" th:object="${user}" method="post" class="form" id="form1" onsubmit="return validateForm()">
            <h2 class="form__title">Sign Up</h2>
            <input type="text" th:field="*{nickname}" placeholder="Nickname" class="input" oninput="validateNickname(this)"/>
            <div id="nicknameError" class="error-message"></div>
            <input type="email" th:field="*{email}" placeholder="Email" class="input" oninput="validateEmail(this)"/>
            <div id="emailError" class="error-message"></div>
            <input type="password" th:field="*{password}" placeholder="Password" class="input" oninput="validatePassword(this)"/>
            <div id="passwordError" class="error-message"></div>
            <h3>How Do You Feel Today?</h3>
            <div class="checkbox-grid">
                <div>
                    <input type="checkbox" th:field="*{happy}" id="Happy"/>
                    <label for="Happy">Happy</label>
                </div>
                <div>
                    <input type="checkbox" th:field="*{sad}" id="Sad"/>
                    <label for="Sad">Sad</label>
                </div>
                <div>
                    <input type="checkbox" th:field="*{calm}" id="Calm"/>
                    <label for="Calm">Calm</label>
                </div>
                <div>
                    <input type="checkbox" th:field="*{stressed}" id="Stressed"/>
                    <label for="Stressed">Stressed</label>
                </div>
                <div>
                    <input type="checkbox" th:field="*{joyful}" id="Joyful"/>
                    <label for="Joyful">Joyful</label>
                </div>
                <div>
                    <input type="checkbox" th:field="*{energetic}" id="Energetic"/>
                    <label for="Energetic">Energetic</label>
                </div>
            </div>
            <div th:if="${signupError}" class="error-message" th:text="${signupError}"></div>
            <button class="btn" type="submit">Sign Up</button>
        </form>
    </div>

    <!-- Sign In 폼 -->
    <div class="container__form container--signin">
        <form th:action="@{/midea/signin}" method="post" class="form" id="form2">
            <h2 class="form__title">Sign In</h2>
            <input type="email" name="email" placeholder="Email" class="input"/>
            <input type="password" name="password" placeholder="Password" class="input"/>
            <input type="hidden" name="redirectUrl" th:value="${redirectUrl}"/>
            <a href="#" class="link" id="forgotPasswordLink">Forgot your password?</a>
            <div th:if="${signinError}" class="error-message" th:text="${signinError}"></div>
            <button class="btn" type="submit">Midea Sign In</button>
            <a href="/midea/spotify/login">
                <br>
                <button class="btn" type="button">Spotify Sign In</button>
            </a>
        </form>
    </div>

    <!-- Overlay -->
    <div class="container__overlay">
        <div class="overlay">
            <div class="overlay__panel overlay--left">
                <button class="btn" id="signIn">Sign In</button>
            </div>
            <div class="overlay__panel overlay--right">
                <button class="btn" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    const signInBtn = document.getElementById("signIn");
    const signUpBtn = document.getElementById("signUp");
    const container = document.querySelector(".container");

    signInBtn.addEventListener("click", () => {
        container.classList.remove("right-panel-active");
    });

    signUpBtn.addEventListener("click", () => {
        container.classList.add("right-panel-active");
        document.querySelector("input[th\\:field='*{nickname}']").addEventListener("input", function() {
            validateNickname(this);
        });
        document.querySelector("input[th\\:field='*{email}']").addEventListener("input", function() {
            validateEmail(this);
        });
        document.querySelector("input[th\\:field='*{password}']").addEventListener("input", function() {
            validatePassword(this);
        });
    });

    function checkNicknameAvailability(nickname, callback) {
        const xhr = new XMLHttpRequest();
        xhr.open("GET", `/midea/check-nickname?nickname=${encodeURIComponent(nickname)}`, true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                callback(xhr.responseText === 'true');
            }
        };
        xhr.send();
    }

    function checkEmailAvailability(email, callback) {
        const xhr = new XMLHttpRequest();
        xhr.open("GET", `/midea/check-email?email=${encodeURIComponent(email)}`, true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                callback(xhr.responseText === 'true');
            }
        };
        xhr.send();
    }

    function validateNickname(input) {
        const nicknameError = document.getElementById("nicknameError");
        if (input.value.trim() === "") {
            nicknameError.textContent = "닉네임을 적어주세요.";
            return false;
        } else {
            checkNicknameAvailability(input.value.trim(), function(isDuplicate) {
                if (isDuplicate) {
                    nicknameError.textContent = "닉네임이 이미 존재합니다.";
                } else {
                    nicknameError.textContent = "";
                }
            });
            return true;
        }
    }

    function validateEmail(input) {
        const emailError = document.getElementById("emailError");
        const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (input.value.trim() === "") {
            emailError.textContent = "이메일을 적어주세요.";
            return false;
        } else if (!emailPattern.test(input.value.trim())) {
            emailError.textContent = "이메일 형식에 맞지 않습니다.";
            return false;
        } else {
            checkEmailAvailability(input.value.trim(), function(isDuplicate) {
                if (isDuplicate) {
                    emailError.textContent = "이메일이 이미 존재합니다.";
                } else {
                    emailError.textContent = "";
                }
            });
            return true;
        }
    }

    function validatePassword(input) {
        const passwordError = document.getElementById("passwordError");
        if (input.value.trim().length < 6) {
            passwordError.textContent = "패스워드를 6자 이상 입력해주세요.";
            return false;
        } else {
            passwordError.textContent = "";
            return true;
        }
    }

    function validateForm() {
        const nicknameValid = validateNickname(document.querySelector("input[th\\:field='*{nickname}']"));
        const emailValid = validateEmail(document.querySelector("input[th\\:field='*{email}']"));
        const passwordValid = validatePassword(document.querySelector("input[th\\:field='*{password}']"));
        return nicknameValid && emailValid && passwordValid;
    }

    document.getElementById('forgotPasswordLink').addEventListener('click', function(event) {
        event.preventDefault();
        window.open('/midea/forgot-password-popup', 'Find Password', 'width=400,height=400');
    });

        /* 회원가입 성공 시 메시지 표시 */
    if (/*[[${signupSuccess}]]*/) {
        alert('회원가입에 성공했습니다!');
    }

</script>
</body>
</html>