<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/midea/community :: setContent(~{this::content} )}">

    <th:block th:fragment="setContent(content)">

    <a id="community" aria-hidden="true" style="visibility:hidden;"></a>
    <section id="sJOGjOVD0d1n5VFC"
             style="position:relative;overflow:hidden;display:grid;align-items:center;grid-template-columns:auto 100rem auto;z-index:0;margin-top:-1px;">
        <div id="ChtWhgmxTdDEUnxV"
             style="grid-area:1 / 1 / 2 / 4;display:grid;position:absolute;min-height:100%;min-width:100%;">
            <div id="F7fJkCPUpPeLlU5d" style="z-index:0;">
                <div id="otycYfvwmZx4oKYv"
                     style="box-sizing:border-box;width:100%;height:100%;transform:rotate(0deg);">
                    <div id="f23VuxJprTo4phl5" style="width:100%;height:100%;opacity:1.0;">
                        <div id="JKZtfWSIufQ2DT6Y"
                             style="background-color:#000000;opacity:1.0;transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="lQE3ws9GgYvZV4BO" style="display:grid;position:relative;grid-area:1 / 2 / 2 / 3;">
            <div id="JO1nF1WRK4OkxEhS" style="z-index:13;">
                <div id="ijDXlShXKGm4xnLn"
                     style="box-sizing:border-box;width:100%;height:100%;transform:rotate(0deg);">
                    <div id="t6HBiJXOEliUxzTw"
                         style="opacity:1.0;display:flex;box-sizing:border-box;flex-direction:column;justify-content:flex-start;width:100%;height:100%;">
                        <p id="GqWVvHFiViOBgSHE"
                           style="color:#ffffff;font-family:YAFdJsEGkW0-0;line-height:1.19210035em;text-transform:uppercase;letter-spacing:0em;">
                            <span id="CdHr6cFIsKOT54tJ" style="color:#ffffff;">my works</span><br></p></div>
                </div>
            </div>
            <div id="DPYC1kTVChX06tne">
                <div id="EpZwVXBAY2xlUXvn" style="display:grid;position:relative;grid-area:4 / 3 / 10 / 6;">
                    <div id="r057MGoyssgnE27D" style="z-index:2;">
                        <div id="TVkiBplztKC6b2k1" style="padding-top:107.12728295%;">
                            <div id="Dc48mJ9oSBKiFPdC"
                                 style="position:absolute;top:0px;left:0px;width:100%;height:100%;">
                                <div class="animation_container" style="width:100%;height:100%;">
                                    <div class="animated"
                                         style="width:100%;height:100%;animation:breathe-LEFT-7ff9bacd-88db-4e62-98d7-bc4f57c9928e 5000ms 100ms both paused;">
                                        <div id="exOug2b4h3RSnwO8" style="width:100%;height:100%;opacity:1.0;">
                                            <div id="n6GQupFKYEirYKBW"
                                                 style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                                                <div id="PdfYl0xuHx3ZzUFZ"
                                                     style="width:calc(167.07784408% * max(1, var(--scale-fill, 1)));height:calc(103.97466109% / min(1, var(--scale-fill, 1)));position:absolute;top:50%;left:50%;opacity:1.0;animation:pulse 1.5s ease-in-out infinite;">
                                                    <img th:src="@{assets/images/f.jpg}"
                                                         alt="Black and White Cow on Green Grass Field Near Green Trees"
                                                         loading="lazy"
                                                         th:attr="srcset=@{/assets/images/s.jpg} + ' 700w, ' + @{/assets/images/f.jpg} + ' 1050w'"
                                                         sizes="(max-width: 375px) 34.22738534vw, (min-width: 375.05px) and (max-width: 480px) 34.22738534vw, (min-width: 480.05px) and (max-width: 768px) 34.22738534vw, (min-width: 768.05px) and (max-width: 1024px) 34.22738534vw, (min-width: 1024.05px) 34.22738534vw"
                                                         style="width:100%;height:100%;display:block;object-fit:cover;object-position:51.91136045% 51.91136045%;transform:translate(-51.91136045%, -51.91136045%) rotate(0deg);">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="x8dNYJn1Wk7HUoGU">
                <div id="t2eD87NuOXSIntsR" style="display:grid;position:relative;grid-area:12 / 4 / 17 / 7;">
                    <div id="a3MZQD7qARzokGzN" style="z-index:10;">
                        <div id="a5swktNXPQhz5f8V" style="padding-top:86.58098622%;">
                            <div id="VT9Fo6THH6PhIBeJ"
                                 style="position:absolute;top:0px;left:0px;width:100%;height:100%;">
                                <div class="animation_container" style="width:100%;height:100%;">
                                    <div class="animated"
                                         style="width:100%;height:100%;animation:breathe-LEFT-67dada5b-a1f0-4c18-bfd0-29eff4d03175 5000ms 100ms both paused;">
                                        <div id="pJXUmwCoqa37sch0" style="width:100%;height:100%;opacity:1.0;">
                                            <div id="cvmLt0OpMyKZUqoT"
                                                 style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                                                <div id="aBkeqzQ7d3opwKMx"
                                                     style="width:calc(100% * max(1, var(--scale-fill, 1)));height:calc(173.24819981% / min(1, var(--scale-fill, 1)));position:absolute;top:50%;left:50%;opacity:1.0;animation:pulse 1.5s ease-in-out infinite;">
                                                    <img th:src="@{/assets/images/i.jpg}"
                                                         alt="Girl in White Dress Running on Green Grass Field"
                                                         loading="lazy"
                                                         th:attr="srcset=@{/assets/images/i.jpg} + ' 467w, ' + @{/assets/images/i.jpg} + ' 700w'"
                                                         sizes="(max-width: 375px) 20.48589119vw, (min-width: 375.05px) and (max-width: 480px) 20.48589119vw, (min-width: 480.05px) and (max-width: 768px) 20.48589119vw, (min-width: 768.05px) and (max-width: 1024px) 20.48589119vw, (min-width: 1024.05px) 20.48589119vw"
                                                         style="width:100%;height:100%;display:block;object-fit:cover;object-position:50% 50%;transform:translate(-50%, -50%) rotate(0deg);">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="aEKBrLainWOIt56c" style="z-index:11;">
                <div id="JbSMB0TUPSMOaBzl"
                     style="box-sizing:border-box;width:100%;height:100%;transform:rotate(0deg);">
                    <div id="OfqR79V5JRpWY4AQ"
                         style="opacity:1.0;display:flex;box-sizing:border-box;flex-direction:column;justify-content:flex-start;width:100%;height:100%;">
                        <p id="gaB15WB66X4fqVOq"
                           style="color:#ffffff;font-family:YAFdJsEGkW0-0;line-height:1.1938873em;text-align:justify;text-transform:none;letter-spacing:0em;">
                            <span id="xDA4tkXSDxlgAClq" style="color:#ffffff;">Rural scenes like these remind me of how happy and simple life can be.</span><br>
                        </p></div>
                </div>
            </div>
            <div id="sPixcKY1QzVZDzy5">
                <div id="xrP9Y7xwOPikrYzJ" style="display:grid;position:relative;grid-area:8 / 9 / 15 / 11;">
                    <div id="YRyrOlXWC0KJN4nM" style="z-index:6;">
                        <div id="R8Tx4D7LJo8yxkNL" style="padding-top:105.64134487%;">
                            <div id="iztq2vr7bCI2cXTI"
                                 style="position:absolute;top:0px;left:0px;width:100%;height:100%;">
                                <div class="animation_container" style="width:100%;height:100%;">
                                    <div class="animated"
                                         style="width:100%;height:100%;animation:breathe-LEFT-5468452e-77e4-40e7-ac61-a90cec548d2a 5000ms 100ms both paused;">
                                        <div id="JMiu9XRVZOZwzvI8" style="width:100%;height:100%;opacity:1.0;">
                                            <div id="hsb89b7CYOsfNRNi"
                                                 style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                                                <div id="kyRqvLDviZjuvvLl"
                                                     style="width:calc(158.4620173% * max(1, var(--scale-fill, 1)));height:calc(100% / min(1, var(--scale-fill, 1)));position:absolute;top:50%;left:50%;opacity:1.0;animation:pulse 1.5s ease-in-out infinite;">
                                                    <img th:src="@{assets/images/j.jpg}"
                                                         alt="Black and White Cow on Green Grass Field"
                                                         loading="lazy"
                                                         th:attr="srcset=@{/assets/images/a.jpg} + ' 700w, ' + @{/assets/images/j.jpg} + ' 1050w'"
                                                         sizes="(max-width: 375px) 32.46235644vw, (min-width: 375.05px) and (max-width: 480px) 32.46235644vw, (min-width: 480.05px) and (max-width: 768px) 32.46235644vw, (min-width: 768.05px) and (max-width: 1024px) 32.46235644vw, (min-width: 1024.05px) 32.46235644vw"
                                                         style="width:100%;height:100%;display:block;object-fit:cover;object-position:50% 50%;transform:translate(-50%, -50%) rotate(0deg);">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fVld4s8rRhZdzN4D">
                <div id="MwQFGtCyErlvYqa1" style="display:grid;position:relative;grid-area:9 / 12 / 16 / 13;">
                    <div id="afV1GdaPkqn2h2EZ" style="z-index:8;">
                        <div id="FsXz3INxK4lVKDr7" style="padding-top:105.64134487%;">
                            <div id="zY0xeGTFAeSeB44s"
                                 style="position:absolute;top:0px;left:0px;width:100%;height:100%;">
                                <div class="animation_container" style="width:100%;height:100%;">
                                    <div class="animated"
                                         style="width:100%;height:100%;animation:breathe-RIGHT-9b137e7c-25ee-46c4-9254-5bb7641e53cc 5000ms 100ms both paused;">
                                        <div id="MWooivCOGQS0kDIw" style="width:100%;height:100%;opacity:1.0;">
                                            <div id="ZIvYk4QWfv8XMquO"
                                                 style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                                                <div id="kKhjxYRtfnXmOMLg"
                                                     style="width:calc(158.4620173% * max(1, var(--scale-fill, 1)));height:calc(100% / min(1, var(--scale-fill, 1)));position:absolute;top:50%;left:50%;opacity:1.0;animation:pulse 1.5s ease-in-out infinite;">
                                                    <img th:src="@{/assets/images/j.jpg}"
                                                         alt="Woman in Blue and White Stripe Shirt Standing Beside White and Black Cow"
                                                         loading="lazy"
                                                         th:attr="srcset=@{/assets/images/a.jpg} + '  700w, ' + @{/assets/images/j.jpg} + ' 1050w'"
                                                         sizes="(max-width: 375px) 32.46235644vw, (min-width: 375.05px) and (max-width: 480px) 32.46235644vw, (min-width: 480.05px) and (max-width: 768px) 32.46235644vw, (min-width: 768.05px) and (max-width: 1024px) 32.46235644vw, (min-width: 1024.05px) 32.46235644vw"
                                                         style="width:100%;height:100%;display:block;object-fit:cover;object-position:50% 50%;transform:translate(-50%, -50%) rotate(0deg);">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="i82yPAMmgZwBeoxd">
                <div id="w5nF1rpLQ7WafizO" style="display:grid;position:relative;grid-area:5 / 14 / 11 / 17;">
                    <div id="R7RaZ6iBwV6sdYwA" style="z-index:4;">
                        <div id="lgyfjFCQnbzusO3q" style="padding-top:107.12728295%;">
                            <div id="ijYUZiJaeuBevaWq"
                                 style="position:absolute;top:0px;left:0px;width:100%;height:100%;">
                                <div class="animation_container" style="width:100%;height:100%;">
                                    <div class="animated"
                                         style="width:100%;height:100%;animation:breathe-RIGHT-302ddc90-2d04-47f5-9eff-d273caa91459 5000ms 100ms both paused;">
                                        <div id="cgF2gy9AJGqH6eb5" style="width:100%;height:100%;opacity:1.0;">
                                            <div id="jW1HDPkPME8NuXSE"
                                                 style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                                                <div id="CfOtfW8dXetA84uH"
                                                     style="width:calc(100% * max(1, var(--scale-fill, 1)));height:calc(140.02035324% / min(1, var(--scale-fill, 1)));position:absolute;top:50%;left:50%;opacity:1.0;animation:pulse 1.5s ease-in-out infinite;">
                                                    <img th:src="@{/assets/images/f.jpg}"
                                                         alt="Girl in Blue Dress Standing Beside Cow on Green Grass Field"
                                                         loading="lazy"
                                                         th:attr="srcset=@{/assets/images/f.jpg} + ' 467w, ' +  @{/assets/images/f.jpg} + ' 700w'"
                                                         sizes="(max-width: 375px) 20.48589119vw, (min-width: 375.05px) and (max-width: 480px) 20.48589119vw, (min-width: 480.05px) and (max-width: 768px) 20.48589119vw, (min-width: 768.05px) and (max-width: 1024px) 20.48589119vw, (min-width: 1024.05px) 20.48589119vw"
                                                         style="width:100%;height:100%;display:block;object-fit:cover;object-position:50% 50%;transform:translate(-50%, -50%) rotate(0deg);">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="J1DiT4Lq3RqnsF0q" style="z-index:12;">
                <div id="JpgVR91l10bZq85w"
                     style="box-sizing:border-box;width:100%;height:100%;transform:rotate(0deg);">
                    <div id="UCok44ummx7A9RCC"
                         style="opacity:1.0;display:flex;box-sizing:border-box;flex-direction:column;justify-content:flex-start;width:100%;height:100%;">
                        <p id="yUxs72TbXa8eKaW2"
                           style="color:#ffffff;direction:ltr;font-family:YAFdJsEGkW0-0;margin-left:0em;line-height:1.19388878em;text-align:justify;text-transform:none;letter-spacing:0em;">
                            <span id="BrzsgNfCpWFj5PE8" style="text-decoration-line:none;color:#ffffff;">Farm life is full of contrasting colors and movement.</span>
                        </p></div>
                </div>
            </div>
        </div>
    </section>

</th:block>
</th:block>
</html>