<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/midea/contact :: setContent(~{this::content} )}">

<th:block th:fragment="setContent(content)">

<a id="contact" aria-hidden="true" style="visibility:hidden;"></a>
<section id="DCOHAYmfrO7ai1hy"
         style="position:relative;overflow:hidden;display:grid;align-items:center;grid-template-columns:auto 100rem auto;z-index:0;margin-top:-1px;">
    <div id="L4LIg1g6MHPpeuol"
         style="grid-area:1 / 1 / 2 / 4;display:grid;position:absolute;min-height:100%;min-width:100%;">
        <div id="b9qtkt7i3K2GYFGW" style="z-index:0;">
            <div id="kKnCo2JzL818bpC3"
                 style="box-sizing:border-box;width:100%;height:100%;transform:rotate(0deg);">
                <div id="rifCu23RWn0QMFs5" style="width:100%;height:100%;opacity:1.0;">
                    <div id="eh8sljFyDtp3AewK"
                         style="background-color:#000000;opacity:1.0;transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="HtwRNOSODIf5YIgh" style="display:grid;position:relative;grid-area:1 / 2 / 2 / 3;">
        <div id="kqou89d8zmhtR69L">
            <div id="iLCMTYhGxot0j7ne" style="display:grid;position:relative;grid-area:3 / 2 / 4 / 3;">
                <div id="hOJDt1nXlRVrB228" style="z-index:3;">
                    <div id="GLr04g5Hd47fv8s0" style="padding-top:171.11945731%;transform:rotate(0deg);">
                        <div id="jVrX8bhOKi1pffOw"
                             style="position:absolute;top:0px;left:0px;width:100%;height:100%;">
                            <div id="IfYNh1lVBujjcLIa" style="width:100%;height:100%;opacity:1.0;">
                                <div id="pq1i3pvsmnLUUUCB"
                                     style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                                    <div id="bTx7244hrTbLYMlI"
                                         style="width:calc(114.07963821% * max(1, var(--scale-fill, 1)));height:calc(100% / min(1, var(--scale-fill, 1)));position:absolute;top:50%;left:50%;opacity:1.0;animation:pulse 1.5s ease-in-out infinite;">
                                        <img th:src="@{/assets/images/i.jpg}"
                                             alt="Girl in White Dress Running on Green Grass Field"
                                             loading="lazy"
                                             th:attr="srcset=@{/assets/images/ii.jpg} + ' 467w, ' +  @{/assets/images/i.jpg} + ' 700w'"
                                             sizes="(max-width: 375px) 18.59980987vw, (min-width: 375.05px) and (max-width: 480px) 18.59980987vw, (min-width: 480.05px) and (max-width: 768px) 18.59980987vw, (min-width: 768.05px) and (max-width: 1024px) 18.59980987vw, (min-width: 1024.05px) 18.59980987vw"
                                             style="width:100%;height:100%;display:block;object-fit:cover;object-position:50% 50%;transform:translate(-50%, -50%) rotate(0deg);">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div id="IX8R28g8DGzgxyFn" style="z-index:1;">
            <div id="h97OpAMVJFJPcw17" style="box-sizing:border-box;width:100%;height:100%;">
                <div class="animation_container" style="width:100%;height:100%;">
                    <div class="animated"
                         style="width:100%;height:100%;animation:tectonic-RIGHT-22c0becd-1785-45a3-8c86-3bceb881216f 3120ms 100ms both paused, linear_fade 400ms linear both paused;">
                        <div id="yqJz7WIqLeZQoVFv"
                             style="opacity:1.0;display:flex;box-sizing:border-box;flex-direction:column;justify-content:flex-start;width:100%;height:100%;">
                            <p id="cG9QOLpE2KfUwiV6"
                               style="color:#ffffff;font-family:YAFdJsZqKzQ-0;line-height:1.39951024em;text-transform:uppercase;">
                                <span id="XiazWGKmPYr9zWLg" style="color:#ffffff;">Photography trains the eye to see beauty in the mundane, </span>
                            </p>
                            <p id="dPKRohvbtn3m8YYO"
                               style="color:#ffffff;font-family:YAFdJsZqKzQ-0;line-height:1.39951024em;text-transform:uppercase;letter-spacing:0em;">
                                    <span id="c2O7IrImqae2GdBR"
                                          style="color:#ffffff;">and profoundess in the ordinary.</span><br></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</th:block>
</th:block>
</html>