<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="main">

<th:block th:replace="~{/midea/main :: setContent(~{this::content} )}">

    <th:block th:fragment="setContent(content)">

<a id="home" aria-hidden="true" style="visibility:hidden;"></a>
<section id="CX4RZotPCaDGTzXz"
         style="position:relative;overflow:hidden;display:grid;align-items:center;grid-template-columns:auto 100rem auto;z-index:0;">
    <div id="Z53rlIKaUkgqLEcI"
         style="grid-area:1 / 1 / 2 / 4;display:grid;position:absolute;min-height:100%;min-width:100%;">
        <div id="e4CDAKpXZ1GZIWVj" style="z-index:0;">
            <div id="vmu3kDXyqvSq8C4K"
                 style="box-sizing:border-box;width:100%;height:100%;transform:rotate(0deg);">
                <div id="vILbt60NSPTdieGz" style="width:100%;height:100%;opacity:1.0;">
                    <div id="h0xBPVUE6stpv5xO"
                         style="background-color:#000000;opacity:1.0;transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="qja2XaOFASaF0YEC" style="display:grid;position:relative;grid-area:1 / 2 / 2 / 3;">
        <div id="oEVlTuELgV3GPX7r" style="z-index:1;">
            <div id="h0GPuj8v4YzcqSPi" style="box-sizing:border-box;width:100%;height:100%;">
                <div class="animation_container" style="width:100%;height:100%;">
                    <div class="animated"
                         style="width:100%;height:100%;animation:breathe-LEFT-c9b289ff-e298-4975-9c5e-e244e5522b75 5000ms 100ms both paused;">
                        <div id="jYiXKFgzNOMJGRAH" style="width:100%;height:100%;opacity:1.0;">
                            <div id="gQvbcU7VT58426zo"
                                 style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                                <div id="lVSYjpWjA2yFMFPC"
                                     style="width:calc(100% * max(1, var(--scale-fill, 1)));height:calc(253.34353486% / min(1, var(--scale-fill, 1)));position:absolute;top:50%;left:50%;opacity:1.0;animation:pulse 1.5s ease-in-out infinite;">
                                    <img th:src="@{/assets/images/mainImg.jpg}" loading="lazy"
                                         th:attr="srcset=@{/assets/images/5344a5e35d1c529b220801378e65a510.jpg} +  ' 820w, ' + @{/assets/images/mainImg.jpg} + ' 1639w'"
                                         sizes="(max-width: 375px) 100vw, (min-width: 375.05px) and (max-width: 480px) 100vw, (min-width: 480.05px) and (max-width: 768px) 100vw, (min-width: 768.05px) and (max-width: 1024px) 100vw, (min-width: 1024.05px) 100vw"
                                         style="width:100%;height:100%;display:block;object-fit:cover;object-position:50% 32.87809323%;transform:translate(-50%, -32.87809323%) rotate(0deg);">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="ZbgpdfrwbxLGIj44" style="z-index:5;">
            <div id="hQ895FwP2rtcYDn4" style="box-sizing:border-box;width:100%;height:100%;">
                <div class="animation_container" style="width:100%;height:100%;">
                    <div class="animated"
                         style="width:100%;height:100%;animation:breathe-LEFT-953a2182-85e3-4a44-a15b-be9151930145 5000ms 100ms both paused;">
                        <div id="vIfyCP1rxh8SCJeY"
                             style="opacity:1.0;display:flex;box-sizing:border-box;flex-direction:column;justify-content:flex-start;width:100%;height:100%;">
                            <p id="tYfdhObjUhwDwDnP"
                               style="color:#ffffff;font-family:YAFdJsEGkW0-0;line-height:0.97778944em;text-transform:none;letter-spacing:0em;">
                                            <span id="BIjivIKtWJxQZKzZ"
                                                  style="color:#ffffff;">#3 Team_Project</span><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="FuKxOrGrqUk1S7wB" style="z-index:4;">
            <div id="Mrl4fB9nmltMrGYO" style="box-sizing:border-box;width:100%;height:100%;">
                <div class="animation_container" style="width:100%;height:100%;">
                    <div class="animated"
                         style="width:100%;height:100%;animation:breathe-LEFT-b540f91a-db66-4869-a98a-dc6d6c1c3f23 5000ms 100ms both paused;">
                        <div id="ubvJZxgMLlGpGnE8"
                             style="opacity:1.0;display:flex;box-sizing:border-box;flex-direction:column;justify-content:flex-start;width:100%;height:100%;">
                            <p id="oJbsNVlqFSd6tIyW"
                               style="color:#ffffff;font-family:YAFdJsZqKzQ-0;line-height:0.99999875em;text-transform:uppercase;letter-spacing:0em;">
                                <span id="LJumjStoFib0KKYC" style="color:#ffffff;">BANDAED</span><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="iPxXDUcScmKs3yRO" style="z-index:3;">
            <div id="E2f3YuwevR7b1dRK" style="box-sizing:border-box;width:100%;height:100%;">
                <div class="animation_container" style="width:100%;height:100%;">
                    <div class="animated"
                         style="width:100%;height:100%;animation:breathe-LEFT-856eb83d-4a30-41c1-a480-908fec0fcf70 5000ms 100ms both paused;">
                        <div id="cMIWIGB6LEUs4bQZ"
                             style="opacity:1.0;display:flex;box-sizing:border-box;flex-direction:column;justify-content:flex-start;width:100%;height:100%;">
                            <p id="bVYPkPF90LqIZrTC"
                               style="color:#ffffff;font-family:YAFdJsEGkW0-0;line-height:0.97778944em;text-transform:none;letter-spacing:0em;">
                                <span id="vFoiKjf6I7Wdfhmq" style="color:#ffffff;">Creative Portfolio</span><br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="dDwhpswVZBnY8mn4" style="z-index:2;">
            <div id="Je2neOzJhsbL0Ocg" style="box-sizing:border-box;width:100%;height:100%;">
                <div class="animation_container" style="width:100%;height:100%;">
                    <div class="animated"
                         style="width:100%;height:100%;animation:breathe-RIGHT-ecc0c6b9-11eb-4e2f-aa9a-2efe70fd48f0 5000ms 100ms both paused;">
                        <div id="qeBjffiUVEaxlK6D"
                             style="opacity:1.0;display:flex;box-sizing:border-box;flex-direction:column;justify-content:flex-start;width:100%;height:100%;">
                            <p id="N3fcsJG6bwEZnpLE"
                               style="color:#ffffff;font-family:YAFdJVKCSFM-0;line-height:0.97779138em;text-transform:none;letter-spacing:0em;">
                                <span id="uvr1BtTkHee2qaze" style="color:#ffffff;">문승호(팀장), 김별</span><br>
                            </p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</th:block>
</th:block>
</html>