<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/home/midea :: setContent(~{this::content} )}">

    <th:block th:fragment="setContent(content)">

<a id="midea" aria-hidden="true" style="visibility:hidden;"></a>
<section id="JwUzi04gCK4845nk"
         style="position:relative;overflow:hidden;display:grid;align-items:center;grid-template-columns:auto 100rem auto;z-index:0;">
    <div id="nIsXb4qwlqtCiua8"
         style="grid-area:1 / 1 / 2 / 4;display:grid;position:absolute;min-height:100%;min-width:100%;">
        <div id="PVHxf1dtMDNhCNSC" style="z-index:0;">
            <div id="BLlyi41w4txwcOvJ" style="box-sizing:border-box;width:100%;height:100%;transform:rotate(0deg);">
                <div id="ujFxzegBJO9zxiUx" style="width:100%;height:100%;opacity:1.0;">
                    <div id="kP0Rgy3gV1bd93lj"
                         style="background-color:#000000;opacity:1.0;transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="GFYuyZPeBrxlKUUf" style="display:grid;position:relative;grid-area:1 / 2 / 2 / 3;">
        <div id="ZE1GtJ4umILt2o3L">
            <div id="FTxFyAeETcAhaANR" style="display:grid;position:relative;grid-area:2 / 2 / 3 / 3;">
                <div id="zgeK23tzehkGCch6" style="z-index:1;">
                    <div id="uBgBjhQxLEgN6nEp" style="padding-top:56.31053336%;">
                        <div id="zatmlvlpIUrmazBG"
                             style="position:absolute;top:0px;left:0px;width:100%;height:100%;">
                            <div class="animation_container" style="width:100%;height:100%;">
                                <div class="animated"
                                     style="width:100%;height:100%;animation:fade-LEFT-ca257e6e-6eff-4323-80db-03fbd0a2adf3 500ms 100ms both paused;">
                                    <div id="LFyROSoBjGZ3Rjg1" style="width:100%;height:100%;opacity:1.0;">
                                        <div id="d8BF3igxEentP5lQ"
                                             style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                                            <div id="bOawBTDkQZkpILwt"
                                                 style="width:calc(100% * max(1, var(--scale-fill, 1)));height:calc(221.98333515% / min(1, var(--scale-fill, 1)));position:absolute;top:50%;left:50%;opacity:1.0;animation:pulse 1.5s ease-in-out infinite;">
                                                <img src="images/fd58f744b34a7194f4bdb9acae162b1b.jpg"
                                                     loading="lazy"
                                                     srcset="images/0a83a06fcd1d5a243a5c2d9757b97208.jpg 864w, images/fd58f744b34a7194f4bdb9acae162b1b.jpg 1728w"
                                                     sizes="(max-width: 375px) 99.79502095vw, (min-width: 375.05px) and (max-width: 480px) 99.79502095vw, (min-width: 480.05px) and (max-width: 768px) 99.79502095vw, (min-width: 768.05px) and (max-width: 1024px) 99.79502095vw, (min-width: 1024.05px) 99.79502095vw"
                                                     style="width:100%;height:100%;display:block;object-fit:cover;object-position:50% 32.36205298%;transform:translate(-50%, -32.36205298%) rotate(0deg);">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="NSfhESNTzh9rgauS" style="z-index:5;">
                    <div id="m0YgJnlljdSZPkr5" style="box-sizing:border-box;width:100%;height:100%;">
                        <div class="animation_container" style="width:100%;height:100%;">
                            <div class="animated"
                                 style="width:100%;height:100%;animation:fade-LEFT-9fa2c0ee-5cf1-4fe4-87fa-2350b0f36560 500ms 100ms both paused;">
                                <div id="sAQAKrgqJ2BYHiBJ"
                                     style="opacity:1.0;display:flex;box-sizing:border-box;flex-direction:column;justify-content:flex-start;width:100%;height:100%;">
                                    <p id="Lk5CptLL5l91IOJd"
                                       style="color:#ffffff;font-family:YAFdJsEGkW0-0;line-height:0.99048439em;text-transform:none;letter-spacing:0em;">
                                            <span id="JFQCchtdlksOL1bK"
                                                  style="color:#ffffff;">#3 Team_Project</span><br></p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="hz48K1Ec4jWfAFP9" style="z-index:4;">
                    <div id="gEoJQr4ObKWsqNzn" style="box-sizing:border-box;width:100%;height:100%;">
                        <div class="animation_container" style="width:100%;height:100%;">
                            <div class="animated"
                                 style="width:100%;height:100%;animation:fade-LEFT-b992a093-6d2e-45ed-919c-fe7a17ea04a1 500ms 100ms both paused;">
                                <div id="FAZ6bLufCzIxSuPf"
                                     style="opacity:1.0;display:flex;box-sizing:border-box;flex-direction:column;justify-content:flex-start;width:100%;height:100%;">
                                    <p id="yLwdaDqlBVNOusTY"
                                       style="color:#ffffff;font-family:YAFdJsZqKzQ-0;line-height:0.98798094em;text-transform:uppercase;letter-spacing:0em;">
                                            <span id="fT2FF8EnyHbqKHVp"
                                                  style="color:#ffffff;font-weight:700;">MIDEA</span><br></p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sHD5fmqVxXy4QGq7" style="z-index:3;">
                    <div id="tiDPGwAbxLdNu08T" style="box-sizing:border-box;width:100%;height:100%;">
                        <div class="animation_container" style="width:100%;height:100%;">
                            <div class="animated"
                                 style="width:100%;height:100%;animation:fade-LEFT-4d4f64dc-a352-4965-8090-1645a4a6af6c 500ms 100ms both paused;">
                                <div id="xWqiXbErdlIM7ot5"
                                     style="opacity:1.0;display:flex;box-sizing:border-box;flex-direction:column;justify-content:flex-start;width:100%;height:100%;">
                                    <p id="PfcMpx2vHjhuS4nF"
                                       style="color:#ffffff;font-family:YAFdJsEGkW0-0;line-height:0.97826688em;text-transform:none;letter-spacing:0em;">
                                        <span id="hI8XtJt9baVmrci3" style="color:#ffffff;">Creative Portfolio</span><br>
                                    </p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="cQdeJQ0qbHB7HYNL" style="z-index:2;">
                    <div id="A784XBuBSkpx3gTy" style="box-sizing:border-box;width:100%;height:100%;">
                        <div class="animation_container" style="width:100%;height:100%;">
                            <div class="animated"
                                 style="width:100%;height:100%;animation:fade-RIGHT-04de0dd9-77cc-4fb2-b7b3-f80b85e773e9 500ms 100ms both paused;">
                                <div id="O4CC7DPN4FkB8cXj"
                                     style="opacity:1.0;display:flex;box-sizing:border-box;flex-direction:column;justify-content:flex-start;width:100%;height:100%;">
                                    <p id="dkHYXK67TDXpwXNC"
                                       style="color:#ffffff;font-family:YAFdJVKCSFM-0;line-height:0.99048439em;text-transform:none;letter-spacing:0em;">
                                        <span id="tH1CDPw4xmlPUp3x" style="color:#ffffff;">문승호(팀장), 김별</span><br>
                                    </p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    </th:block>
</th:block>