<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/simple-sidebar.css}" rel="stylesheet">

<th:block th:replace="~{/layout/wooxtravel :: setContent(~{this::content} )}">

  <th:block th:fragment="content">

  <div class="page-heading-admin">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h4>Discover Our Weekly Offers</h4>
          <h2>Our Recommended Music &amp; More</h2>
          <div class="border-button"><a th:href="@{/midea/mindlist}">유저 게시판으로 이동</a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="search-form">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <form id="search-form" name="gs" method="submit" role="search" action="#">
            <div class="row">
              <div class="col-lg-2">
                <h4>Sort Music By:</h4>
              </div>
              <div class="col-lg-2">
                  <fieldset>
                    <input type="hidden" name="page" value="1">
                    <div class="input-group-prepend">
                      <select class="custom-select" name="type">
                        <option aria-label="Default select example" th:selected="${pageRequestDTO.type == null}">검색 조건</option>
                        <option value="c" th:selected="${pageRequestDTO.type == 'c'}">아티스트</option>
                        <option value="t" th:selected="${pageRequestDTO.type == 't'}">곡명</option>
                        <option value="n" th:selected="${pageRequestDTO.type == 'n'}">작성자</option>
                        <option value="ct" th:selected="${pageRequestDTO.type == 'ct'}">내용</option>
                        <option value="tc" th:selected="${pageRequestDTO.type == 'tc'}">곡명 + 아티스트</option>
                        <option value="tcn" th:selected="${pageRequestDTO.type == 'tcn'}">곡명 + 아티스트 + 작성자</option>
                      </select>
                    </div>
                  </fieldset>
              </div>
              <div class="col-lg-4">
                  <fieldset>
                    <input class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}" aria-label="Default select example">
                  </fieldset>
              </div>
              <div class="col-lg-2">                        
                  <fieldset>
                      <button type="button" class="border-button btn-search">Search Results</button>
                  </fieldset>
              </div>
              <div class="col-lg-2">
              <span>
                <a th:href="@{/midea/mlAdminRegister}">
                    <button type="button" class="border-button">Register</button>
                </a>
            </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="amazing-deals">
    <div class="container">
      <div class="row">

        <!--=========================================== css 창 정사각형 ===============================================-->

        <div class="cities-town">
          <div class="container">
            <div class="row">
              <div class="slider-content">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>MIDEA’s <em>Best Choices for <b th:text="${nickname}"></b></em></h2>
                  </div>
                  <div class="col-lg-12">
                    <div class="owl-cites-town owl-carousel">

                      <!-------------------------------- 알고리즘 목록 ------------------------------------>

                      <tr th:each="dto : ${algorithm.dtoList}" >
                        <a th:href="@{/midea/mlAdminRead(mno = ${dto.url})}">
                          <div class="item">
                            <div class="thumb">
                              <iframe style="border-radius: 23px" width="200" height="200"
                                      th:src="'https://www.youtube.com/embed/' + '${dto.url}' + '?si=9-XpOM_tjsPNFt0L'"
                                      title="YouTube video player" frameborder="0"
                                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                      referrerpolicy="strict-origin-when-cross-origin"
                                      allowfullscreen></iframe>
                              [[${dto.url}]]
                              <h4>[[${dto.title}]]</h4>

                              <!--<div id="playerAlgorithm"></div>
                              [[${dto.url}]]
                              <h4>[[${dto.title}]]</h4>-->
                            </div>
                          </div>
                        </a>
                      </tr>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-4"></div>
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading text-center">
            <h2>Best Music We Recommend you</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
              ut labore.</p>
          </div>
        </div>

        <!--========================================== ↓ 이전 리스트 폼 ===============================================-->

          <tr th:each="dto : ${result.dtoList}" >
            <th scope="row">
              <a th:href="@{/midea/mlAdminRead(mno = ${dto.mno},
                page=${result.page},
                type = ${pageRequestDTO.type},
                keyword = ${pageRequestDTO.keyword}
                )}">
                [[${dto.mno}]]
              </a>
            </th>

            <div class="col-lg-6 col-xxl-12 col-sm-7">
              <div class="item">
                <div class="row">
                  <div class="col-lg-6">
                    [[${dto.url}]]
                  </div>
                  <div class="col-lg-6 align-self-center">
                    <div class="content">
                      <span class="info">[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</span>
                      <h3>[[${dto.composer}]]</h3>
                      <div class="row">
                        <div class="col-6">
                          <i class="fa-solid fa-music"></i>
                          <span class="list">[[${dto.title}]]</span>
                        </div>
                        <div class="col-6">
                          <i class="fa-solid fa-user"></i>
                          <span class="list">[[${dto.nickname}]] ---- [<b th:text="${dto.commentCount}"></b>]</span>
                        </div>
                      </div>
                      <p>[[${dto.content}]]</p>
                      <div class="main-button">
                        <a href="https://www.youtube.com/watch?v=NXD-WJYtkyc&t=3149s">음악 들으러 가기</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tr>

        <!--========================================== ↓ 현재 리스트 폼 ===============================================-->

        <tr th:each="dto : ${result.dtoList}">
          <div class="col-lg-12">
            <div class="item">
              <div class="row">
                <div class="col-lg-6">
                  <div id="ytplayer"></div>
                  <iframe style="border-radius: 23px" width="640" height="360"
                          th:src="'https://www.youtube.com/embed/' + '${dto.url}' + '?si=9-XpOM_tjsPNFt0L'"
                          title="YouTube video player" frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                          referrerpolicy="strict-origin-when-cross-origin"
                          allowfullscreen></iframe>
                </div>
                <div class="col-lg-6">
                  <div class="right-content">
                    <h4>[[${dto.composer}]] - [[${dto.title}]]
                      <i class="fa fa-heart heart-icon" style="color: red; cursor: pointer;"></i><!--좋아요추가-->
                    </h4>
                    <div class="main-button">

            <!--======================================== ↓ 상세페이지 링크 =============================================-->
                      <a th:href="@{/midea/mlAdminRead(mno = ${dto.mno},
                          page=${result.page},
                          type = ${pageRequestDTO.type},
                          keyword = ${pageRequestDTO.keyword}
                          )}">Explore More</a>
                    </div>
                    <p>[[${dto.content}]]</p>
                    <ul class="info">
                      <li>
                        <i class="fa fa-user"></i>
                        [[${dto.nickname}]]
                      </li>
                      <li>
                        <span>
                            Views
                            Comments <b th:text="${dto.commentCount}"></b>
                        </span>
                      </li>
                      <li>
                        <span>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</span>
                      </li>
                    </ul>
                    <div class="text-button">
            <!--======================================== ↓ 스포티라이 이동 링크 =============================================-->
                      <a href="">Listen On Spotify?
                        <i class="fa-brands fa-spotify"></i>
                        <i class="fa fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tr>

        <!--========================================== ↓ 페이지 표시 ===============================================-->

        <div class="col-lg-12">
          <ul class="page-numbers">
            <ul class="pagination h-100 justify-content-center align-items-center">
              <li class="page-item " th:if="${result.prev}">
                <a class="page-link" th:href="@{/midea/mindlistAdmin(
                                        page = ${result.start -1},
                                        type = ${pageRequestDTO.type},
                                        keyword = ${pageRequestDTO.keyword}
                                        )}" tabindex="-1"><i class="fa fa-arrow-left"></i></a>
              </li>

              <li th:class=" 'page-item ' + ${result.page == page?'active': ''} "
                  th:each="page: ${result.pageList}">
                <a class="page-link" th:href="@{/midea/mindlistAdmin(
                                        page = ${page},
                                        type = ${pageRequestDTO.type},
                                        keyword = ${pageRequestDTO.keyword}
                                        )}">
                  [[${page}]]
                </a>
              </li>

              <li class="page-item" th:if="${result.next}">
                <a class="page-link" th:href="@{/midea/mindlistAdmin(page= ${result.end +1},
                                        type=${pageRequestDTO.type},
                                        keyword=${pageRequestDTO.keyword}
                                        )}"><i class="fa fa-arrow-right"></i></a>
              </li>
            </ul>
          </ul>
        </div>

          <!--==================================== 모달 창 등록 =======================================-->
          <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal=header">
                  <h5 class="modal-title">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        <!--========================================== ↑ 게시판 ===============================================-->

      </div>
    </div>
  </div>

    <script th:inline="javascript">

      document.addEventListener('DOMContentLoaded', function () {
      // 좋아요 버튼 클릭 이벤트 설정
      document.querySelectorAll('.heart-icon').forEach(function (icon) {
          icon.addEventListener('click', function () {
              // 로그 추가: 클릭된 아이콘의 상태 출력
              console.log('좋아요 버튼 클릭됨:', this);

              // 'empty' 클래스를 토글하여 색상 변경
              this.classList.toggle('empty');

              if (this.classList.contains('empty')) {
                  this.style.color = '#ddd'; // 빈 하트 색상
                  console.log('빈 하트로 변경됨:', this); // 로그 추가: 빈 하트 상태
              } else {
                  this.style.color = 'red'; // 빨간 하트 색상
                  console.log('빨간 하트로 변경됨:', this); // 로그 추가: 빨간 하트 상태
              }
          });
      });
  });

    <!--========================================== ↓ 모달창 ===============================================-->

    var msg = [[${msg}]];
    console.log(msg);

    if(msg){
        $(".modal").modal();
    }

    var searchForm = $("#searchForm");

    $('.btn-search').click(function(e){
        searchForm.submit();
    });

    <!--========================================== ↓ 유투브 API ===============================================-->

    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var player;
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
        height: '360',
        width: '640',
        videoId: '유투브링크',
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      });
    }

    // 4. The API will call this function when the video player is ready.
    function onPlayerReady(event) {
      event.target.playVideo();
    }

    // 5. The API calls this function when the player's state changes.
    //    The function indicates that when playing a video (state=1),
    //    the player should play for six seconds and then stop.
    var done = false;
    function onPlayerStateChange(event) {
      if (event.data == YT.PlayerState.PLAYING && !done) {
        //setTimeout(stopVideo, 6000);
        done = true;
      }
    }
    function stopVideo() {
      player.stopVideo();
    }
    </script>

</th:block>
</th:block>
</html>