<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/wooxtravel :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <div class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h4>Discover Our Weekly Offers</h4>
                        <h2>Amazing Prices &amp; More</h2>
                        <div class="border-button"><a href="about.html">Discover More</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 offset-lg-3">

        <h1 class="mt-4">Mindlist Register Page</h1>

        <form th:action="@{/midea/mlRegister}" th:method="post">

            <div class="form-group">
                <label>Composer</label>
                <input class="form-control" name="composer" placeholder="Enter Composer's Name...">
            </div>

            <div class="form-group">
                <label>Title</label>
                <input class="form-control" name="title" placeholder="Enter title...">
            </div>

            <div class="form-group">
                <label>URL</label>
                <input class="form-control" name="url" placeholder="Enter url...">
            </div>

            <div class="form-group">
                <label>Content</label>
                <textarea class="form-control" rows="5" name="content"></textarea>
            </div>

            <div class="form-group">
                <label>Writer</label>
                <input type="text" class="form-control" name="writer" placeholder="Ender your name...">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>

    </th:block>

</th:block>