<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<th:block th:replace="~{/layout/wooxtravel :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <div class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h4>Discover New Music Everyday</h4>
                        <h2>Share Your Music &amp; More</h2>
                        <div class="border-button"><a th:href="@{/midea/mindlistAdmin}">관리자 게시판으로 이동</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 offset-lg-3">

        <h1 class="mt-4">Mindlist Register Page</h1>

        <form th:action="@{/midea/mlRegister}" th:method="post">

            <div class="form-group">
                <label>Composer</label>
                <input class="form-control" name="composer" placeholder="Enter Composer's Name...">
            </div>

            <div class="form-group">
                <label>Title</label>
                <input class="form-control" name="title" placeholder="Enter title...">
            </div>

            <!--<div class="content-row mt-2">
                <div class="checkbox-grid">
                    <div>
                        <input type="checkbox" th:field="${happy}" id="Happy"/>
                        <label for="Happy">Happy</label>
                    </div>
                    <div>
                        <input type="checkbox" th:field="${sad}" id="Sad"/>
                        <label for="Sad">Sad</label>
                    </div>
                    <div>
                        <input type="checkbox" th:field="${calm}" id="Calm"/>
                        <label for="Calm">Calm</label>
                    </div>
                    <div>
                        <input type="checkbox" th:field="*{stressed}" id="Stressed"/>
                        <label for="Stressed">Stressed</label>
                    </div>
                    <div>
                        <input type="checkbox" th:field="*{joyful}" id="Joyful"/>
                        <label for="Joyful">Joyful</label>
                    </div>
                    <div>
                        <input type="checkbox" th:field="*{energetic}" id="Energetic"/>
                        <label for="Energetic">Energetic</label>
                    </div>
                </div>
            </div>-->

            <div class="form-group">
                <label>URL</label>
                <input class="form-control" name="url" placeholder="Insert url...">
            </div>

            <div class="form-group">
                <label>Content</label>
                <textarea class="form-control" rows="5" name="content" placeholder="Write content..."></textarea>
            </div>

            <div class="form-group">
                <label>Nickname</label>
                <div class="col-sm-9 text-secondary large-text">
                    <input type="text" class="form-control" name="nickname" th:value="${nickname}" readonly>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>

    </th:block>

</th:block>