<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="header">

<!-- ******************************************** Header Area Start ******************************************* -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a th:href="@{/midea/index}" class="logo">
                        <img th:src="@{/wooxtravel/assets/images/MIDEA.png}" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a th:href="@{/midea/index}">Home</a></li>
                        <li><a th:href="@{/midea/mindlist}">Mindlist</a></li>
                        <li><a th:href="@{/midea/about}">Community</a></li>
                        <li><a th:href="@{/midea/contact}">Contact</a></li>
                        <li><a th:href="@{/midea/home}">About</a></li>
                        <li><a th:href="@{/midea/login}">Login</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->