<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="header">

<style>
    .profile {
      width: 32px;
      aspect-ratio: 1/1;
    }
</style>

<!-- ******************************************** Header Area Start ******************************************* -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a th:href="@{/midea/index}" class="logo">
                        <img th:src="@{/wooxtravel/assets/images/MIDEA.png}" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a th:href="@{/midea/index}">Home</a></li>
<!--                        <li><a th:href="@{/midea/mindlist}">Mindlist</a></li>-->

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Mindlist</span>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown" style="background-color:#22b3c1">
                                <a class="dropdown-item" th:href="@{/midea/mindlistAdmin}">
                                    <i class="fas fa-sm fa-fw mr-2"></i> 관리자게시판</a>
                                <a class="dropdown-item" th:href="@{/midea/mindlist}">
                                    <i class="fas fa-sm fa-fw mr-2 text-gray-400"></i>
                                    유저게시판
                                </a>
                            </div>
                        </li>

                        <li><a th:href="@{/midea/about}">Community</a></li>
                        <li><a th:href="@{/midea/contact}">Contact</a></li>
                        <li><a th:href="@{/midea/portfolio}">About</a></li>
                        <th:block sec:authorize="isAnonymous()">
                        <li><a th:href="@{/midea/login}">Login</a></li>
                        </th:block>

<!--                         <li><a th:href="@{/midea/mypage}">MyPage</a></li>
                        <li><a th:href="@{/midea/logout}">Logout</a></li>-->


                        <th:block sec:authorize="isAuthenticated()">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                                <img class="img-profile rounded-circle profile" width="32" height="32"
                                     th:src="@{/uploaded/images/1723165877280_olafur.jpg}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown" style="background-color:#22b3c1">
                                <a th:href="@{/midea/mypage}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2"></i> MyPage</a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a th:href="@{/midea/logout}">Logout</a>
                            </div>
                        </li>
                        </th:block>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->