@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
 html {
	 display: grid;
	 min-height: 100%;
}
 body {
	 display: grid;
	 background: linear-gradient(to bottom left, #79c7c5 40%, #f9fbff 100%);
	 font-family: 'Lato', sans-serif;
}
 .container {
	 position: relative;
	 margin: 12% auto;
	 width: 620px;
	 height: 450px;
}
 .messages {
	 position: absolute;
	 background: #f9fbff;
	 opacity: 0.5;
	 width: 30%;
	 height: 70%;
	 top: 2.5%;
	 left: 5%;
	 border-radius: 10px 0 0 10px;
	 box-shadow: -5px 5px 10px rgba(119, 119, 119, .5);
}
/*chat messages */
 .people {
	 position: absolute;
	 list-style-type: none;
	 width: 30.2%;
	 left: -10px;
	 top: 24.7%;
	 line-height: 0.7em;
}
 .people .title {
	 text-transform: uppercase;
	 font-size: 0.7em;
	 margin-left: 14px;
	 letter-spacing: 1px;
	 color: #777;
}
 .people .time {
	 font-size: 0.3em;
	 color: #777;
	 position: absolute;
	 right: 10px;
	 margin-top: 2px;
}
 .people .preview {
	 color: #79c7c5;
	 margin-left: 14px;
	 font-size: 0.5em;
}
 .person {
	 padding: 12px 0 12px 12px;
	 border-bottom: 1px solid #79c7c5;
	 cursor: pointer;
}
 .person:hover {
	 background: #f9fbff;
	 transition: all 0.3s ease-in-out;
}
 .focus {
	 background: #f9fbff;
	 margin-left: 1px;
}
 .profile {
	 position: absolute;
	 left: 16%;
	 top: 7%;
}
 .name2 {
	 position: absolute;
	 top: 50px;
	 left: 2px;
	 text-transform: uppercase;
	 color: #79c7c5;
	 font-size: 0.8em;
	 letter-spacing: 2px;
	 font-weight: 500;
}
 .email {
	 color: #f9fbff;
	 font-size: 0.5em;
	 margin-left: -30px;
	 margin-top: 2px;
}
 .chatbox {
	 position: absolute;
	 left: 35%;
	 height: 75%;
	 width: 60%;
	 border-radius: 10px;
	 box-shadow: 5px 5px 15px rgba(119, 119, 119, 0.5);
}
 .top-bar {
	 width: 100%;
	 height: 60px;
	 background: #f9fbff;
	 border-radius: 10px 10px 0 0;
}
 .avatar {
	 width: 35px;
	 height: 35px;
	 background: linear-gradient(to bottom left, #79c7c5 20%, #a1e2d9 100%);
	 border-radius: 50%;
	 position: absolute;
	 top: 11px;
	 left: 15px;
}
 .avatar p {
	 color: #f9fbff;
	 margin: 7px 12px;
}
 .name {
	 position: absolute;
	 top: 22px;
	 text-transform: uppercase;
	 color: #777;
	 font-size: 0.8em;
	 letter-spacing: 2px;
	 font-weight: 500;
	 left: 60px;
}
 